$main-color: #f9f6f1;
$black-color: #212121;
$white-color: #f9f6f1;
$button-color: #d7b399;
$important-color: #d84033;
$grey-color: #cbcfd4;

/* $accent: #d7b399;
$dark: #212121;
$light: #f9f6f1;
$gray: #cbcfd4;
$light-gray: #f4f4f4;
$dark-gray: #8d8d8d;
$important: #d84033; */