@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
@import "base/variables";
@import "base/mixins";

* {
    font-family: "Montserrat", sans-serif;
}

.container {
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
    max-width: 1110px;
}

.page {
    padding-top: 100px;
    padding-bottom: 100px;

    &-light {
        background-color: $main-color;
    }

    &-dark {
        background-color: $black-color;
    }

    @include breakpoint (sm) {
        padding-top: 70px;
        padding-bottom: 70px;
    }
}

@import "blocks/header";
@import "blocks/main";
@import "blocks/btn";
@import "blocks/notice";
@import "blocks/collection";
@import "blocks/product";
@import "blocks/footer";
