.btn {
    padding: 18px 32px;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    color: $white-color;
    background-color: $button-color;

    &-xs {
        padding: 6px 29px;
    }

    &-center {
        display: block;
        margin: 0 auto;
        padding: 18px;
        max-width: 168px;
        text-align: center;

        span {
            margin-right: 15px;
        }
    }
}