.main {
    display: flex;
    justify-content: space-between;

    &-item {
        flex: 0 0 50%;

        @include breakpoint (lg) {
            flex: 0 0 100%;
        }
    }

    .sale {
        &-descr {
            font-size: 30px;
            letter-spacing: 0.4px;

            @include breakpoint (sm) {
                font-size: 20px;
            }
        }

        &-title {
            margin: 30px 0 60px;
            font-weight: 700;
            font-size: 55px;
            letter-spacing: 2.4px;

            @include breakpoint (sm) {
                margin-top: 10px;
                margin-bottom: 45px;
                font-size: 28px;
            }
        }

        @include breakpoint (lg) {
            text-align: center;
        }
    }

    .box {
        position: relative;

        &-price {
            position: absolute;
            right: 0;
            top: 33px;
            text-align: right;

            &_old {
                font-weight: 700;
                font-size: 24px;
                letter-spacing: 3.4px;
                color: #000;

                @include breakpoint (sm) {
                    font-size: 14px;
                }
            }

            &_new {
                margin-top: 19px;
                font-weight: 700;
                font-size: 42px;
                letter-spacing: 1.4px;
                color: $important-color;

                @include breakpoint (sm) {
                    margin-top: 4px;
                    font-size: 22px;
                }
            }
        }

        &-image {
            width: 100%;
            max-width: 556px;
        }

        @include breakpoint (lg) {
            margin: 50px auto 0;
            max-width: 600px;
        }

        @include breakpoint (sm) {
            max-width: 350px;
        }
    }

    @include breakpoint (lg) {
        flex-wrap: wrap;
    }
}